<h1><%= @restaurant.name %></h1> <%= '☆' * @restaurant.rating %>
<p><%= @restaurant.address %></p>
<%= link_to 'Back', restaurants_path  %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete %>
